

.bg-nav-color{
    background-color: #F4F2F3;
}

.title-color-fs{

    color: #C0A9BD;
}

.button-color-main{
    background-color: #C0A9BD;
    color: white;
}

.modal-button-colors{
    background-color: #84766A;
    color: white;
}


.card-color-main{
    background-color: #94A7AE;
    color: white;
}